#map {
    top: -20px;
    left: 0;
    width: 100%;
    height: 300px;
}

#marker {
    background-image: url('https://image.flaticon.com/icons/svg/2103/2103799.svg    ');
    background-size: cover;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
     
.mapboxgl-popup {
    max-width: 200px;
}