:root {
    --colorTextWhite: #ffffff;
    --colorTextBlack: #333333;

    --fontOpen: 'Open Sans', sans-serif;
    --fontDosis: 'Dosis', sans-serif;

}

.header-area {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: auto;

}

.main-banner {
    position: relative;
    background-color: #074ece;
    padding: 20px 20px 200px 0 ;   
}

 .nav-items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

nav {
    font-family: var( --fontDosis);
    font-size: 17px;
    font-weight: 600;  
    z-index: 2;
}

nav ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    z-index: 3;

}

.logo {
    z-index: 3;
}

nav li {
    list-style: none;
    margin-right: 20px;
}


.nav-link {
    color: var(--colorTextWhite);
    text-decoration: none;
}


a:hover {
    color: #28a745;
    cursor: pointer;
}

.banner{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    align-content: center;
}

.banner-content {
    margin: 0 10% 0 10% ;
    flex: 1 0 0;
}

.banner-description {
    font-family: var( --fontOpen);
    color: var(--colorTextWhite);
    font-size: 14px;
    text-align: justify;
}

.banner-title {
    color: var(--colorTextWhite);
    font-family: var( --fontDosis);
    font-size: 69px;
    width: 100%;
    text-align: left; 
}

.banner-subtitle {
    position: relative;
    top: 130px;
    color: var(--colorTextWhite);
    font-family: var( --fontDosis);
    font-size: 40px;
    width: 100%;
    text-align: left; 
}

.banner-description-2 {
    position: relative;
    top: 110px;
    font-family: var( --fontOpen);
    color: var(--colorTextWhite);
    font-size: 14px;
    text-align: justify;
}


.banner-img {
    margin-top: 40px;
    margin-right: 10%;
    margin-bottom: -200px;
    flex: 1 0 0;
    z-index: 3;
}

.banner-img img {
    justify-self: end;
    width: 100%;
    z-index: 3;
}

.banner-shape {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-bottom: -0.1em;
    width: 100%;
    z-index: 1;
}

@keyframes movebounce {
    0% {
        transform: translateY(0px); 
    }
    50% {
        transform: translateY(20px); 
    }
    100% {
        transform: translateY(0px); 
    } 
}

.iot-shape {
    position: relative;
    left: 0;
    top: 0;
    z-index: 6;
    animation: movebounce 5s linear infinite;
}

.white-shape {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-bottom: -0.1em;
    width: 100%;
    z-index: 1;
}

.text-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    flex-flow: row wrap;
    top: 2000px;
    font-family: var( --fontDosis);
    color: var(--colorTextBlack);
    font-size: 14px;
    
}

.box {

    width: 100px;
    background-color: #e0e9fa;
    border-radius: 10px;
    margin-top: 300px;
    height: 240px;
    width: 300px;
    margin: 2px;
}

.box p {
    text-align: justify;
    padding: 20px;
   
}

.box h3 {
    
    padding: 20px 0  20px;
    margin-bottom: -45px;
}

.icon-card {
    width: 50px;
    margin-top: 30px;
    margin-bottom: -30px;
    color: var(--colorTextWhite);
}

.features-container {
    position: absolute;
    top: 200px;
    left: 0;
    right: 0;
    margin-top: 700px;
    padding-bottom: 120px;
    margin-bottom: 500px;
    height: auto;
    background-color: #f1f3f6;
    z-index: 4; 
}

.img-borls {
    width: 30%;
    margin: 30px 90px 30px 90px;
}

.container {
    position: absolute;
    top: 400px;
    left: 0;
    right: 0;
    margin-top: 30px;
    padding-bottom: 120px;
    margin-bottom: 50px;
    height: auto;
    
}

.feature-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 4;
}

.feature-title h2 {
    margin-top: 120px;
    text-align: center;
    font-family: var( --fontDosis);
    color: var(--colorTextBlack);
    font-size: 40px;
    z-index: 4;
}

.feature-title p {
    text-align: center;
    font-size: 16px;
    color: #57647c;
    font-family: var( --fontOpen);
    margin: -20px 0 15px;
    z-index: 4;
}

.feature {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    z-index: 4;
    
}

.feature .img-1 {
    flex: 1 0 0;
    margin-top: 40px;
    margin-right: 30px;
    width: 100%;
    max-width: 506px;

}

.feature .description-feature, .description-feature-2 { 
    flex: 1 0 0;
}


.feature h3 {
    color: var(--colorTextBlack);
    font-family: var( --fontDosis);
    font-size: 30px;
    margin-left: 50px;
    margin-top: 100px;
    z-index: 4;
}

.feature p {
    font-family: var( --fontOpen);
    font-size: 14px;
    color: #57647c;
    margin-bottom: 15px;
    line-height: 1.8;
    margin: 0 30px 0 30px;
    z-index: 4;
}

.list-features li {
    font-family: var( --fontDosis);
    color: var(--colorTextBlack);
    font-weight: 700;
    margin-left: 40px;
    margin-bottom: 5px;
    z-index: 4;
}


.img-2 {
    flex: 1 0 0;
    margin-left: 20px;
    top: 50px;
    width: 100%;
    max-width: 506px;

}

footer {
    display: flex;
    align-items: center;
    position:fixed;
    left:0px;
    bottom:0px;
    height:60px;
    width:100%;
    background-color:#074ece;
}

footer p {
    
    top: 50%;
    margin-left: 40px;
    font-family: var( --fontDosis);
    font-size: 14px;
    color: var(--colorTextWhite);
}

footer a {
    color: var(--colorTextWhite);
    text-decoration: none;
}

.footer-icons {
    margin-left: 10px;
}

.contact-container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;

}

.contact-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.contact-title h3 {
    color: var(--colorTextBlack);
    font-family: var( --fontDosis);
    font-size: 30px;
}

.contact-title p {
    text-align: center;
    margin-top: -20px;
    margin-left: 40px;
    margin-right: 40px;
    font-family: var( --fontOpen);
    font-size: 14px;
    color:var(--colorTextBlack);
}

.content-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

form .group {
    max-width: 500px;
    margin: 10px;
}

form .group input, textarea {
    border-radius: 5px;
    border: 1px solid #b0bfdb;
    padding: 10px;
    width: 300px;
    font-family: var( --fontOpen);
}

.contact-title .msg-text-sent {
    color:  #4ac728;
    font-family: var( --fontOpen);
    margin: -5px 0 10px;
    font-size: 14px;
}

.content-form #error-name, #error-email, #error-content {
    font-family: var( --fontOpen);
    font-size: 11px;
    color: red;
    text-align: center;
    font-weight: 600;
}

.button-large {
    font-family: var( --fontOpen);
    border: none;
    background-color: #4ac728;
    border-radius: 5px;
    padding: 10px;
    max-width: 320px;
    width: 100%;
    cursor: pointer;
}

.button-large:hover {
    background-color: #074ece;
}
.button-text {
    color: var(--colorTextWhite);
}

.icon-button-large {
    color: var(--colorTextWhite);
    margin-right: 10px;
}

@media screen and (min-width:300px) and (max-width:400px) {

    .main-banner, nav ul, .banner-content {
        flex-direction: column;
        text-align: center;

    }

    nav {
        position: relative;
        top: 30px;
        right: 20px;
        margin-bottom: 10px;
    }


    .banner-content {
        padding: 20px;
    }

    .banner-img {
        margin-left: 60px;
        
    }

    .container {
        top: 500px;
    }

    .text-box {
        margin-top: 1210px;
           
    }

    .text-box .box {
        top: 50px;
        margin-top: 15px;
        margin-bottom: 30px;
        
    }

    .features-container {
        margin-bottom: 1000px;
    }

    
    .img-2 {
        position: relative;
        flex: 1 0 0;
        margin-right: 30px;
        width: 100%;
        top: 100px;
        margin-bottom: 50px;
    }

    footer p {
        margin-right: 10px;
    }

    .footer-icons {
        position: relative;
        line-height: 20px;
        margin-left: 10px;
        right: 10px;

    }

    .box h3 {
    
        padding: 20px 0  20px;
        margin-bottom: -45px;
        margin-left: 125px;
    }
    
    .icon-card {
        width: 50px;
        margin-left: 125px;
        margin-top: 30px;
        margin-bottom: -30px;
        color: var(--colorTextWhite);
    }
   
   

}


@media screen and (min-width:411px) and (max-width:740px){

    .main-banner, nav ul, .banner-content {
        flex-direction: column;
        text-align: center;

    }

    nav {
        position: relative;
        top: 30px;
        right: 20px;
        margin-bottom: 10px;
    }

    .banner-content {
        padding: 20px;
    }

    .banner-img {
        margin-left: 60px;
        
    }

    .container {
        top: 500px;
    }

    .text-box {
        margin-top: 1270px;
        flex-direction: column;
        text-align: center;
        
    }

    .text-box .box {
        top: 50px;
        margin-top: 15px;
        margin-bottom: 30px;
        
    }

    .features-container {
        margin-bottom: 1000px;
    }

    
    .img-2 {
        position: relative;
        flex: 1 0 0;
        margin-right: 30px;
        width: 100%;
        top: 100px;
        margin-bottom: 50px;
    }

    footer p {
        margin-right: 10px;
    }

    .footer-icons {
        position: relative;
        line-height: 20px;
        margin-left: 10px;
        right: 10px;

    }

  
    .box h3 {
        position: relative;
        padding: 20px 0  20px;
        margin-bottom: -45px;
        left: 10px;
    }
    
    .icon-card {
        position: relative;
        width: 50px;
        left: 10px;
        margin-top: 30px;
        margin-bottom: -30px;
        color: var(--colorTextWhite);
    }
   
    

   
}

@media screen and (min-width:748px) and (max-width:961px){

    .feature .img-1 {
        margin: 40px 0 0 40px;
        width: 40%;
        max-width: 506px;
        z-index: 4;
    }

 
    .img-2 {
        position: relative;
        flex: 1 0 0;
        width: 40%;
        top: 100px;
        margin-bottom: 50px;
    }
    .features-container {
        padding: 0 50px 60px 30px;
        margin-bottom: 1000px;
    }

    
    .feature p {
        width: 100%;
        margin-right: 30px !important;

    }

    .text-box {
        margin-top: 375px;
        flex-direction: column;
        text-align: center;
        
    }

    .text-box .box {
        margin-top: 10px;
        margin-bottom: 40px;
        bottom: 40px;
        
    }

    .box h3 {
        position: relative;
        padding: 20px 0  20px;
        margin-bottom: -45px;
        left: 10px;
    }
    
    .icon-card {
        position: relative;
        width: 50px;
        left: 10px;
        margin-top: 30px;
        margin-bottom: -30px;
        color: var(--colorTextWhite);
    }
    
   
}

@media screen and (min-width:962px) and (max-width:1259px){

 
    .img-2 {
        position: relative;
        flex: 1 0 0;
        width: 100%;
        top: 100px;
        margin-bottom: 50px;
    }

    
    .feature p {
        min-width: 380px;
    }

    .text-box {
        margin-top: 520px;
        position: relative;
        margin-bottom: 100px;
        
    }


    .text-box .box {
        margin-top: 10px;
        margin-bottom: 120px;
        
    }

    .box h3 {
    
        padding: 20px 0  20px;
        margin-bottom: -45px;
        margin-left: 125px;
    }
    
    .icon-card {
        width: 50px;
        margin-left: 125px;
        margin-top: 30px;
        margin-bottom: -30px;
        color: var(--colorTextWhite);
    }
   
}

@media screen and (min-width:1260px) and (max-width:1366px){

 
    .features-container {
        width: 100%;
    }

    .img-2 {
        position: relative;
        flex: 1 0 0;
        width: 100%;
        top: 100px;
        margin-bottom: 50px;
    }
    
    .feature p {
        min-width: 680px;
    }

    .text-box {
        margin-top: 610px;
        position: relative;
        margin-bottom: 100px;
        
    }


    .text-box .box {
        margin-top: 10px;
        margin-bottom: 120px;
        
    }

    .box h3 {
    
        padding: 20px 0  20px;
        margin-bottom: -45px;
        margin-left: 125px;
    }
    
    .icon-card {
        width: 50px;
        margin-left: 125px;
        margin-top: 30px;
        margin-bottom: -30px;
        color: var(--colorTextWhite);
    }
   
}

@media screen and (min-width:1368px) and (max-width:1980px){

 
    .features-container {
        width: 100%;
    }

    .img-2 {
        position: relative;
        flex: 1 0 0;
        width: 100%;
        top: 100px;
        margin-bottom: 50px;
    }

    
    .feature p {
        min-width: 680px;
        margin: 0 140px 0 30px;
    }

    .text-box {
        margin-top: 580px;
        position: relative;
        margin-bottom: 100px;
        
    }


    .text-box .box {
        margin-top: 10px;
        margin-bottom: 120px;
        
    }

    .box h3 {
    
        padding: 20px 0  20px;
        margin-bottom: -45px;
        margin-left: 125px;
    }
    
    .icon-card {
        width: 50px;
        margin-left: 125px;
        margin-top: 30px;
        margin-bottom: -30px;
        color: var(--colorTextWhite);
    }
   
}


